<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
     
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark zindex-dropdown">
      <div class="container-lg">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/logo.svg" alt="" width="180" height="60">
        </a>

        <div class="d-flex justify-content-between">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="class.html">課程介紹</a>
            </li>
          </ul>
                      <!-- Button trigger modal -->
            <button type="button" class="btn text-light " data-bs-toggle="modal" data-bs-target="#exampleModal">
               <span class="d-flex align-items-center">
                <span class="material-symbols-outlined">
                  account_circle
                  </span>
                登入
              </span> 
            </button>

<!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </nav>
    <div class="bar d-flex">
       <span class="bar-green"></span>
       <span class="bar-blue"></span>
    </div>
    
    <%- contents %>

    <footer class="footer fs-8 p-3 text-center">
      Coding Home © 2022 All Rights Reserved
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

    

</body>

</html>